<div class="backdrop"></div>
<dialog open>
  <header>
    <h1>X</h1>
  </header>
  <form>
    <p>
      <label for="to">To</label>
      <input type="text" id="to" name="to" />
    </p>
    <p>
      <label for="to">Cc</label>
      <input type="text" id="cc" name="cc" />
    </p>
    <p>
      <label for="to">Subject</label>
      <textarea type="text" id="Subject" name="Subject"></textarea>
    </p>
    <p>
      <textarea type="text" class="email-body"></textarea>
    </p>
    <div class="footer">
      <div>
        <button type="submit">Send</button>
      </div>
      <div>
        <label for="cars">Choose an email:</label>
        <select name="userEmail" id="userEmail">
          <option value="e1">John Smith</option>
          <option value="e2">Mary Roberts</option>
          <option value="e3s">Tom Wroblynski</option>
          <option value="e4">Byron Tipier</option>
          <option value="e5">Jane Seymore</option>
          <option value="e6">Bethany Skipper</option>
        </select>
      </div>
    </div>
  </form>
</dialog>
